
.content-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1500px;

}

.container-h2{
    font-size: 150%;
    margin: 20px 0;
    text-align: center;
}

.container-p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

img{
    max-width: 100%;
}

.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
    margin: 1rem;
    position: relative;
    z-index: 1;
}

.card-header{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-header img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card h2, .card h3, .card p{
    background-color: inherit !important;
}

.card-content{
    background-color: #fff;
    padding: 30px;
}

.card-title{
    height: 20px;
    margin: 0;
}

.card-excerpt {
    color: #777;
    margin: 10px 0 20px;
}

.author {
    display: flex;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-size: 30px;
}
.profile-img:hover{
    color: #b54410;
}
.profile-img:active{
    transform: scale(90%);
}

/* .cart-btn.added {
    color: #b54410;
} */

.active {
    color: #b54410;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info strong:hover {
    cursor: pointer;
}

.author-info small{
    color: #aaa;
    margin-top: 5px;
}

.animated-bg {
    background-image: linear-gradient(to right, #f6f7f8 0%, 
    #edeef1 10%, 
    #f6f7f8 20%, 
    #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150%;
    }
}